<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>1c11. Hamburger Button Toggled</title>
  </head>

  <body>
    <!-- @see https://unpkg.com/browse/@inventage-web-components/hamburger-menu/ -->

    <script type="module"
             src="https://unpkg.com/@inventage-web-components/hamburger-menu/lib/src/hamburger-menu.js?module"
    ></script>

    <hamburger-menu></hamburger-menu> 
    <hamburger-menu toggled></hamburger-menu>

  </body>
</html>